# Файл с переменными окружения (содержит токены!)
.env

# База данных SQLite
*.db
*.db-journal*

# Лог-файлы
*.log

# Папка с резервными копиями
/backups/

# Кэш и скомпилированные файлы Python
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/
