# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
*.db
*.sqlite3
backups/

# Logs
*.log
bot.json.log

# IDE settings
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml