[flake8]
max-line-length = 120
extend-ignore =
    E302,    # Пропуски строк
    E305,    # Пропуски строк после классов
    E701,    # Несколько операторов на одной строке
    W291,    # Пробелы в конце строк
    W293,    # Пустые строки с пробелами
    E402,    # Импорты не наверху
    E501,    # Длинные строки
    E261,    # Пробелы перед комментариями
    E111,    # Отступы
    E117,    # Отступы
    E131,    # Отступы
    E741,    # Неоднозначные имена переменных
    E999
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    migrations,
    build,
    dist